.table-container {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.demo-table {
  width: 450px;
  table-layout: fixed;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.title {
  color: #70bb89 !important;
}

.title-2 {
  color: #828282;
}
