.example-spacer {
  flex: 1 1 auto;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.navbar {
  background-color: #52ad9c;
  color: white;
}

button.test {
  background-color: #2a7b6c;
  color: white;
}
