<mat-toolbar class="bottom-bar">
    <mat-toolbar-row>
        <span>Home Pedia</span>
        <span class="space"></span>
        <p>Topic</p>
        <span class="little-space"></span>
        <p>Topic</p>
        <span class="little-space"></span>
        <p>Topic</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="space-bot"></span>
        <p>Page</p>
        <span class="little-space-bot"></span>
        <p>Page</p>
        <span class="little-space-bot"></span>
        <p>Page</p>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="space-bot"></span>
        <p>Page</p>
        <span class="little-space-bot"></span>
        <p>Page</p>
        <span class="little-space-bot"></span>
        <p>Page</p>
    </mat-toolbar-row>
</mat-toolbar>
