<h1>Country Information</h1>

<form (ngSubmit)="searchCountry()">
  <input type="search" placeholder="Search Country" [(ngModel)]="searchValue" name="searchTerm" />
  <button type="submit">Search</button>
</form>
<div class="dashboard">
  <div class="square"><app-election-chart></app-election-chart></div>
  <div class="square"><app-election-chart></app-election-chart></div>
  <div class="square"><app-tab></app-tab></div>
  <div class="square"><app-election-chart></app-election-chart></div>
</div>
